.term-row-hidden {
  display: none;
}

.add-term-button {
  float: right;  
}

.delete-term-button {
 
}

.collapse-button {
  display: inline;
}

.term-row-template {
  display: none;
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.manage-multiple-terms-table thead tr th {
  text-align: center;
}

.manage-multiple-terms-table .form-text { 
  max-width: 250px; 
  padding: 3px; 
}